[Unit]
Description=analytics DB Writer

[Service]
Type=simple
Environment="ANALYTICS_HOME=/opt/eosio-analytics"
EnvironmentFile=/etc/default/eosio-analytics_%i
ExecStart=/usr/bin/perl ${ANALYTICS_HOME}/analytics_dbwriter.pl $DBWRITE_OPTS
TimeoutSec=45s
Restart=always
User=root
Group=daemon
KillMode=control-group


[Install]
WantedBy=multi-user.target

